.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.leftside,
.rightside {
  height: 100vh;
  width: 100%;
}

.App-left-menu {
  margin: 0 auto;
  max-width: 298px;
  display: flex;
  height: 100%;
  align-items: left;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.grid-container {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 50% 50%; /*Make the grid smaller than the container*/
  grid-gap: 1px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
